{% extends "NavicuInfrastructureBundle:Resetting:layoutResetting.html.twig" %}

{% block body %}

    <main class="nvc-resetting">
        {% include "NavicuInfrastructureBundle:Resetting:top-menu.html.twig" %}
        <style>
            @media (min-width: 992px) {
                .responsive-bg {
                    background-image: url({{ assets.img['images/reset-password-desktop.jpg'] }});
                }
            }
            @media (min-width: 480px) and (max-width: 991px) {
                .responsive-bg {
                    background-image: url({{ assets.img['images/reset-password-tablet.jpg'] }});
                }
            }
            @media (max-width: 479px) {
                .responsive-bg {
                    background-image: url({{ assets.img['images/reset-password-phone.jpg'] }});
                }
            }
        </style>
        <div class="responsive-bg nvc-resetting__content"
            ng-app="resetPasswordModule"
            ng-controller="resetPasswordController"
            ng-style="backgroundImageStyle">
            <div class="nvc-container">
                <div class="nvc-row nvc-row__instructions">
                    <div class="col-xs-2 col-lg-1">
                        <img src="{{ asset('images/padlock-check.png') }}">
                    </div>
                    <div class="col-xs-12">
                        <p>
                            ¡Enhorabuena! Tu contraseña se actualizó correctamente
                            <br>
                            Por favor, vuelve a iniciar sesión
                        </p>
                    </div>
                </div>
                {% if app.request.get('_route') == 'navicu_aavv_resetting_update_password_success' %}
                <div class="nvc-row nvc-row__loginButton">
                    <div class="col-xs-6">
                        <a href="{{ path('navicu_aavv_login') }}" class="nvc-button nvc-button__default">
                            {{ 'share.action.login'|trans }}
                        </a>
                        <!--<button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block font-bold" style="margin-left:-6%; padding-left:7%; width:150%;" >{{ 'extranet.message.sign_up'|trans }}</button>-->
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock body%}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{% endblock %}
