{% extends "NavicuInfrastructureBundle:Extranet/Resetting:layoutResetting.html.twig" %}

{% block content_title %}
    
    <div id="carousel" class="carousel carousel-extranet carousel-fade" data-ride="carousel">
        <div class="carousel-inner carousel-inner-hotel">
            <div class="item active">
                <div class="carousel-fill" style="background-image:url('/images/images_original/navicu/homepage/login1.jpg');"></div>
                <h1 style="margin-left:12%; margin-top:-63px; color:#fff; font-size:15px;">
                    <span style="font-family:Lato-Regular; font-style:italic;">Parque Nacional Laguna de Tacarigua, Estado Miranda, Venezuela</span>
                <h1>
            </div>
            <div class="item">
                <div class="carousel-fill" style="background-image:url('/images/images_original/navicu/homepage/login2.jpg');"></div>
                <h1 style="margin-left:12%; margin-top:-63px; color:#fff; font-size:15px;">
                    <span style="font-family:Lato-Regular; font-style:italic;">Cerro Wichuj, Estado Amazonas, Venezuela</span>
                <h1>
            </div>
            <div class="item">
                <div class="carousel-fill" style="background-image:url('/images/images_original/navicu/homepage/login3.jpg');"></div>
                <h1 style="margin-left:12%; margin-top:-63px; color:#fff; font-size:15px;">
                    <span style="font-family:Lato-Regular; font-style:italic;">Medanos de Coro, Estado Falcón, Venezuela</span>
                <h1>
            </div>
        </div>
        <div class="container">
            <div class="form-out"> 
                <p class="form-extranet-heading">{{ 'share.message.check_email'|trans }}</p>
                <p class="form-extranet-heading">{{ 'share.message.email_send_to_email'|trans }}{{email }}</p>
                <div class="pull-left btn-back" >
                    <a href="{{path('navicu_extranet_security_login')}}"  >
                        <center>
                            <b>
                                {{ 'share.action.go_back'|trans }}
                            </b>
                        </center>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock content_title %}

{% block content_buttons %}
{% endblock content_buttons%}