{% extends "NavicuInfrastructureBundle:Web:layout-culture.html.twig" %}

{% block body %}

<div id="errors" class='col-sm-16' style="padding:0px;">
    <div class="carousel-fill" style="background-image:url({{ asset('images/navicu/404.jpeg') }});" src="http://dummyimage.com/600x400.png/fff/fff"> 
        <div class="container text">
        	<h1>Ooops <span class="fa fn-404"></span></h1>
            <h1><strong>404</strong></h1>
            <h2>{{ "share.error.404"|trans }}</h2>
            <a href="{{ path('navicu_homepage_temporal') }}">
                <button class="btn btn-primary active"> 
                    {{"share.action.go_back"|trans }}
                </button>
            </a>
        </div>
    </div>
</div>
<!--- No borrar -->
<div class='container after-slider-errors hidden-xs'>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment == "dev" %}

    {% else %}

    {% endif %}
{% endblock %}