{% extends "NavicuInfrastructureBundle:Extranet:layout.html.twig" %}

{% set header_title = {'module_title': 'load'} %}
{% set rateType = 1 %}

{% block title %} {{ "extranet.title.massload"|trans }} {% endblock %}

{%  block body %}
    <div ng-app="massLoad" ng-controller="massLoadController" >
        <div class="well-calendar well-sm" ng-cloak>
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <p class="font-regular">{{ "extranet.action.select_date"|trans }}</p>
                    </div>
                    <div id="select-months">
                        <strong>{{ "share.action.see"|trans }}: </strong>
                        <label class="radio-inline">
                            <input id="sixMonths" type="radio" name="monthsNumber" value="sixMonths" checked="checked"> {{ "extranet.calendar.label.n_months"|transchoice(6) }}
                        </label>
                        <label class="radio-inline">
                            <input id="twelveMonths" type="radio" name="monthsNumber" value="twelveMonths"> {{ "extranet.calendar.label.n_months"|transchoice(12) }}
                        </label>
                        <label class="radio-inline">
                            <input id="eighteenMonths" type="radio" name="monthsNumber" value="eighteenMonths"> {{ "extranet.calendar.label.n_months"|transchoice(18) }}
                        </label>
                        <label class="radio-inline">
                            <input id="twentyfourMonths" type="radio" name="monthsNumber" value="twentyfourMonths"> {{ "extranet.calendar.label.n_months"|transchoice(24) }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <form name="form" novalidate class="css-form"  ng-cloak>
            <div id="calendars">
                <div class="container" style="margin-top: 10px; padding-left: 0;">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-3 col-sm-8 col-sm-offset-0 col-md-6 col-md-offset-0">
                            <div class="form-inline">
                                <div class="form-group " style="width:30%;">
                                    <input type="text" class="form-control datepicker-init my-input-load" size="7" id="initDate" placeholder="{{ 'share.message.start_date'|trans }}" style="width:98%;">
                                </div>
                                <div class="form-group " style="width:30%;">
                                    <input type="text" class="form-control datepicker-end my-input-load" size="7" id="endDate" placeholder="{{ 'share.message.end_date'|trans }}" disabled="disabled" style="width:98%;">
                                </div>
                                <div class="form-group">
                                    <button class="form-control btn btn-default" id="clear">{{ "share.action.clean"|trans }}</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-16 col-sm-8 col-md-10">
                            <div id="calendars-days" class="font-semibold">
                                <div class="btn-group "  data-toggle="buttons" >
                                    <label style="float: left; padding-top: 8px; margin-right: 5px;"><strong>{{ "extranet.action.exclude_days"|trans }}: </strong></label>
                                    <label class="btn btn-primary btn-sm active" id="monday">
                                        <input type="checkbox" value="monday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.mon"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.mon"|transchoice(0) }}</span>
                                    </label>
                                    <label class="btn btn-primary btn-sm active" id="tuesday">
                                        <input type="checkbox" value="tuesday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.tue"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.tue"|transchoice(0) }}</span>
                                    </label>
                                    <label class="btn btn-primary btn-sm active" id="wednesday">
                                        <input type="checkbox" value="wednesday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.wen"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.wen"|transchoice(0) }}</span>
                                    </label>
                                    <label class="btn btn-primary btn-sm active" id="thursday">
                                        <input type="checkbox" value="thursday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.thu"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.thu"|transchoice(0) }}</span>
                                    </label>
                                    <label class="btn btn-primary btn-sm active" id="friday">
                                        <input type="checkbox" value="friday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.fri"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.fri"|transchoice(0) }}</span>
                                    </label>
                                    <label class="btn btn-primary btn-sm active" id="saturday">
                                        <input type="checkbox" value="saturday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.sat"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.sat"|transchoice(0) }}</span>
                                    </label>
                                    <label class="btn btn-primary btn-sm active" id="sunday">
                                        <input type="checkbox" value="sunday" checked="checked">
                                        <span class="hidden-xs hidden-sm">{{ "share.calendar.days.sun"|transchoice(1) }}</span>
                                        <span class="visible-xs visible-sm">{{ "share.calendar.days.sun"|transchoice(0) }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ include('NavicuInfrastructureBundle:Extranet/MassLoad:calendar.html.twig',{'calendars': calendars, 'today' : today}) }}
            <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="row panel-items">
                    <div  class="col-xs-16 form-group" ng-repeat="room in massLoad.rooms">
                        <div class="row massload">
                            <div class="header">
                                <div  class="col-xs-16 col-sm-16 col-md-16 col-lg-16" style="background-color: #40226b;">
                                    <div class="title title2 col-xs-8 col-sm-4 col-md-4">
                                        <strong>{{ "extranet.message.room_type"|trans }} </strong>
                                    </div>
                                    <div class="col-xs-16 col-sm-12 col-md-12 col-lg-12">
                                        <div class="title title2 col-xs-8 col-sm-3 col-md-3" style="padding-left:0px;">
                                            <strong>{{ "extranet.message.availability"|trans  }}</strong>
                                        </div>
                                        <div class="title title2 col-xs-8 col-sm-3 col-md-3">
                                            <strong>{{ "extranet.message.min_nights"|trans  }} </strong>
                                        </div>
                                        <div class="title title2 col-xs-8 col-sm-3 col-md-3">
                                            <strong>{{ "extranet.message.max_nights"|trans  }} </strong>
                                        </div>
                                        <div class="title title2  col-xs-16 col-sm-3 col-md-3" style="padding-left:20px;">
                                            <strong>{{ "extranet.message.advance"|trans  }} </strong>
                                        </div>
                                        <div class="title title2 col-xs-16 col-sm-4 col-md-4">
                                            <strong>{{ "extranet.message.stop_sell"|trans  }} </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fila de habitaciones -->
                        <div class="row row-room">
                            <div class="col-xs-16 col-sm-4 box-items-left ">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-16 col-md-16 col-lg-16">
                                        <div class="checkbox">
                                            <label>
                                                <b ng-bind="room.nameRoom"></b>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ng-form name="roomFieldForm">
                                <div class="col-xs-16 col-sm-12 box-items box-items-services ">
                                    <div class="row">
                                        <div class="col-xs-3 box-items-services">
                                            <div class="input-group" ng-class="{'has-error' : roomFieldForm.roomAvailability.$invalid || inputRooms[room.idRoom].errorAvailability}">
                                                <input type="number" ng-model="inputRooms[room.idRoom].availability" name="roomAvailability"
                                                class="form-control input-pack" ng-pattern="/^\d+$/" ng-min="room.baseAvailability" ng-required="room.availabilityRequired!=null">
                                            </div>
                                            <div ng-if="roomFieldForm.roomAvailability.$invalid || inputRooms[room.idRoom].errorAvailability">
                                                <span class="error">
                                                    <span ng-show="roomFieldForm.roomAvailability.$error.number">
                                                        {{  "share.validation.only_number"|trans }}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomAvailability.$error.pattern">
                                                        {{ "share.validation.only_integer"|trans }}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomAvailability.$error.min">
                                                        {{ "share.validation.availability_higher_base"|trans }}
                                                        <strong>({[{ room.baseAvailability }]})</strong>
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomAvailability.$error.required">
                                                        {{ "share.validation.availability_required"|trans }}
                                                    </span>
                                                    <span ng-show="inputRooms[room.idRoom].errorAvailability">
                                                        {[{ inputRooms[room.idRoom].messageErrorAvailability }]}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-xs-3 box-items-services">
                                            <div class="input-group" ng-class="{'has-error' : roomFieldForm.minNight.$invalid || inputRooms[room.idRoom].errorMinNight}">
                                                <input type="number" ng-model="inputRooms[room.idRoom].minNight" name="roomMinNight" min="1" id="input"
                                                       class="form-control input-pack" ng-pattern="/^\d+$/" ng-max="inputRooms[room.idRoom].maxNight">
                                            </div>

                                            <div ng-if="roomFieldForm.roomMinNight.$invalid || inputRooms[room.idRoom].errorMinNight">
                                                <span class="error">
                                                    <span ng-show="roomFieldForm.roomMinNight.$error.number">
                                                        {{ "share.validation.only_number"|trans }}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomMinNight.$error.pattern">
                                                        {{ "share.validation.only_integer"|trans }}
                                                    </span>
                                                    <span ng-show="inputRooms[room.idRoom].errorMinNight">
                                                        {[{ inputRooms[room.idRoom].messageErrorMinNight }]}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomMinNight.$error.max">
                                                        <strong>{{ "share.validation.minNight_is_higher"|trans }}</strong>
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomMinNight.$error.min">
                                                       <strong>{{ "share.validation.enter_more"|trans }}</strong>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-xs-3 box-items-services">
                                            <div class="input-group" ng-class="{'has-error' : roomFieldForm.maxNight.$invalid || inputRooms[room.idRoom].errorMaxNight}">
                                                <input type="number" ng-model="inputRooms[room.idRoom].maxNight" name="roomMaxNight" ng-min="inputRooms[room.idRoom].minNight"
                                                 class="form-control input-pack" ng-pattern="/^\d+$/">
                                            </div>

                                            <div ng-if="roomFieldForm.roomMaxNight.$invalid || inputRooms[room.idRoom].errorMaxNight">
                                                <span class="error">
                                                    <span ng-show="roomFieldForm.roomMaxNight.$error.number">
                                                        {{ "share.validation.only_number"|trans }}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomMaxNight.$error.pattern">
                                                        {{ "share.validation.only_integer"|trans }}
                                                    </span>
                                                    <span ng-show="inputRooms[room.idRoom].errorMaxNight">
                                                        {[{ inputRooms[room.idRoom].messageErrorMaxNight }]}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomMaxNight.$error.min">
                                                        <strong>{{ "share.validation.minNight_is_higher"|trans }}</strong>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-xs-3 box-items-services">
                                            <div class="input-group" ng-class="{'has-error' : roomFieldForm.roomAnt.$invalid || inputRooms[room.idRoom].errorCutOff }">
                                                <input type="number" ng-model="inputRooms[room.idRoom].cutOff" name="roomAnt" min="0" id="input"
                                                class="form-control input-pack" ng-pattern="/^\d+$/">
                                           </div>

                                            <div ng-if="roomFieldForm.roomAnt.$invalid || inputRooms[room.idRoom].errorCutOff">
                                                <span class="error">
                                                    <span ng-show="roomFieldForm.roomAnt.$error.number">
                                                        {{ "share.validation.only_number"|trans }}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomAnt.$error.pattern">
                                                        {{ "share.validation.only_integer"|trans }}
                                                    </span>
                                                    <span ng-show="roomFieldForm.roomAnt.$error.min">
                                                        {{ "share.validation.only_number_positive"|trans }}
                                                    </span>
                                                    <span ng-show="inputRooms[room.idRoom].errorCutOff">
                                                        {[{ inputRooms[room.idRoom].messageErrorCutOff }]}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-xs-3 box-items-services">
                                            <div class="input-group">
                                                <md-switch ng-model="inputRooms[room.idRoom].stopSell" aria-label="Switch 2" class="md-warn">
                                                    <span ng-if="inputRooms[room.idRoom].stopSell == true">
                                                        {{ "share.message.yes"|trans }}
                                                    </span>
                                                    <span ng-if="inputRooms[room.idRoom].stopSell == false">
                                                        {{ "share.message.no"|trans }}
                                                    </span>
                                                </md-switch>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                        <!-- Fin de Fila de habitaciones -->

                        <div class="row massload">
                            <div class="header">
                                <div  class="col-xs-16 col-sm-16 col-md-16 col-lg-16" style="background-color: #40226b;">
                                    <div class="title title2 col-xs-8 col-sm-4 col-md-4">
                                        <strong>{{ "share.message.rates"|transchoice(1) }} </strong>
                                    </div>
                                    <div class="col-xs-16 col-sm-12 col-md-12 col-lg-12">
                                        <div class="title title2 col-xs-8 col-sm-2 col-md-2 col-pack" style="padding-left:0px;">
                                            <strong>{{ "extranet.message.availability"|trans }} </strong>
                                        </div>
                                        <div class="title title2 col-xs-8 col-sm-2 col-md-2 col-pack">
                                            <strong>{{ "extranet.message.min_nights"|trans }} </strong>
                                        </div>
                                        <div class="title title2 col-xs-8 col-sm-2 col-md-2 col-pack">
                                            <strong>{{ "extranet.message.max_nights"|trans }} </strong>
                                        </div>
                                        <div class="title title2  col-xs-16 col-sm-2 col-md-2 col-pack text-center" ng-if="rateType==2" style="padding-left:0px;">
                                            <strong>{{ "extranet.message.sell_rate"|transchoice(0) }}</strong>
                                        </div>
                                        <div class="title title2  col-xs-16 col-sm-2 col-md-2 col-pack text-center" ng-if="rateType==1" style="padding-left:0px;">
                                            <strong>{{ "extranet.message.net_rate"|transchoice(0) }}</strong>
                                        </div>
                                        <div class="title title2 col-xs-16 col-sm-2 col-md-2 text-center" style="padding-left:0px;">
                                            <strong>{{ "extranet.message.co"|trans }} </strong>
                                        </div>
                                        <div class="title title2 col-xs-16 col-sm-2 col-md-2 text-center">
                                            <strong>{{ "extranet.message.cta"|trans }} </strong>
                                        </div>
                                        <div class="title title2 col-xs-16 col-sm-2 col-md-2 text-center">
                                            <strong>{{ "extranet.message.ctd"|trans }} </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fila de Servicios -->
                        <div class="row row-service">
                            <div ng-repeat="service in room.packages">
                                <div class="col-xs-16 col-sm-4  box-items-left ">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-16">
                                            <div class="checkbox">
                                                <label>
                                                    <div ng-bind="service.namePack" style="color:#3a1f60"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ng-form name="serviceFieldForm">
                                    <div class="col-xs-16 col-sm-12 box-items box-items-services">
                                        <div class="row">
                                            <div class="col-xs-2 box-items-services col-pack">
                                                <div class="input-group" ng-class="{'has-error' : serviceFieldForm.packAvailability.$invalid || inputServices[pack.idPack].errorAvailability}">
                                                    <input type="number" ng-model="inputServices[service.idPack].specificAvailability" name="packAvailability" id="input"
                                                    class="form-control input-pack" ng-min="room.baseAvailability" ng-max="inputRooms[room.idRoom].availability"
                                                    ng-pattern="/^\d+$/" ng-change="room.availabilityRequired=inputServices[service.idPack].specificAvailability">
                                                </div>

                                                <div ng-if="serviceFieldForm.packAvailability.$invalid || inputServices[pack.idPack].errorAvailability">
                                                    <span class="error">
                                                        <span ng-show="serviceFieldForm.packAvailability.$error.number">
                                                            {{ "share.validation.only_number"|trans }}
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packAvailability.$error.pattern">
                                                            {{ "share.validation.only_integer"|trans }}
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packAvailability.$error.min" >
                                                            {{ "share.validation.availability_higher_base"|trans }}
                                                            <strong>({[{room.baseAvailability}]})</strong>
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packAvailability.$error.max">
                                                            {{ "share.validation.availability_higher_room"|trans }}
                                                            <strong>{{ "share.validation.room_availability"|trans }}
                                                                ({[{inputRooms[room.idRoom].availability}]})
                                                            </strong>
                                                        </span>
                                                        <span ng-show="inputServices[pack.idPack].errorAvailability">
                                                            {[{ inputServices[pack.idPack].messageErrorAvailability }]}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-xs-2 box-items-services col-pack">
                                                <div class="input-group" ng-class="{'has-error' : serviceFieldForm.packMinNight.$invalid || inputServices[pack.idPack].errorMinNight}">
                                                    <input type="number" ng-model="inputServices[service.idPack].minNight" name="packMinNight" class="form-control input-pack"
                                                    ng-min="inputRooms[room.idRoom].minNight" ng-max="inputServices[service.idPack].maxNight" ng-pattern="/^\d+$/">
                                                </div>

                                                <div ng-if="serviceFieldForm.packMinNight.$invalid || inputServices[pack.idPack].errorMinNight">
                                                    <span class="error">
                                                        <span ng-show="serviceFieldForm.packMinNight.$error.number">
                                                            {{ "share.validation.only_number"|trans }}
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packMinNight.$error.min">
                                                            {{ "share.validation.minNight_is_lower"|trans }}
                                                            <strong>{{ "share.validation.room_minNight"|trans }}
                                                                ({[{inputRooms[room.idRoom].minNight}]})
                                                            </strong>
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packMinNight.$error.max">
                                                            <strong>{{ "share.validation.minNight_is_higher"|trans }}</strong>
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packMinNight.$error.pattern">
                                                            {{ "share.validation.only_integer"|trans }}
                                                        </span>
                                                        <span ng-show="inputServices[pack.idPack].errorMinNight">
                                                            {[{ inputServices[pack.idPack].messageErrorMinNight }]}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-xs-2 box-items-services col-pack">
                                                <div class="input-group" ng-class="{'has-error' : serviceFieldForm.packMaxNight.$invalid || service.minNightHigher || inputServices[pack.idPack].errorMaxNight}">
                                                    <input type="number" ng-model="inputServices[service.idPack].maxNight" name="packMaxNight" min="0" id="input"
                                                    class="form-control input-pack" ng-min="inputServices[service.idPack].minNight"
                                                    ng-max="inputRooms[room.idRoom].maxNight" ng-pattern="/^\d+$/" >
                                                </div>

                                                <div ng-if="serviceFieldForm.packMaxNight.$invalid || inputServices[pack.idPack].errorMaxNight">
                                                    <span class="error">
                                                        <span ng-show="serviceFieldForm.packMaxNight.$error.number">
                                                            {{ "share.validation.only_number"|trans }}
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packMaxNight.$error.pattern">
                                                            {{ "share.validation.only_integer"|trans }}
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packMaxNight.$error.min">
                                                            <strong>{{ "share.validation.minNight_is_higher"|trans }}</strong>
                                                        </span>
                                                        <span ng-show="serviceFieldForm.packMaxNight.$error.max">
                                                            {{ "share.validation.maxNight_is_lower"|trans }}
                                                            <strong>{{ "share.validation.room_maxNight"|trans }}
                                                                ({[{inputRooms[room.idRoom].maxNight}]})
                                                            </strong>
                                                        </span>
                                                        <span ng-show="inputServices[pack.idPack].errorMaxNight">
                                                            {[{ inputServices[pack.idPack].messageErrorMaxNight }]}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-xs-2 box-items-services col-pack">
                                                <div class="input-group" ng-class="{'has-error' : serviceFieldForm.price.$invalid || inputServices[pack.idPack].errorSellRate}">
                                                    <input type="number" ng-model="inputServices[service.idPack].price" min="1" name="price" id="input"
                                                    class="form-control input-pack">
                                                </div>

                                                <div ng-if="serviceFieldForm.price.$invalid || inputServices[pack.idPack].errorSellRate">
                                                    <span class="error">
                                                        <span ng-show="serviceFieldForm.price.$error.number">
                                                            {{ "share.validation.only_number"|trans }}
                                                        </span>

                                                        <span ng-show="serviceFieldForm.price.$error.required">
                                                            {{ "share.validation.input_required"|trans }}
                                                        </span>

                                                        <span ng-show="serviceFieldForm.price.$error.min">
                                                            {{ "share.validation.only_number_positive"|trans }}
                                                        </span>

                                                        <span ng-show="inputServices[pack.idPack].errorSellRate">
                                                            {[{ inputServices[pack.idPack].messageErrorSellRate }]}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-xs-2 box-items-services">
                                                <div class="input-group">
                                                    <md-switch ng-model="inputServices[service.idPack].closeOut" aria-label="Switch 2" class="md-warn">
                                                    <span ng-if="inputServices[service.idPack].closeOut == true">
                                                        {{ "share.message.yes"|trans }}</span>
                                                    <span ng-if="inputServices[service.idPack].closeOut == false">
                                                        {{ "share.message.no"|trans }}</span>
                                                    </md-switch>
                                                </div>
                                            </div>

                                            <div class="col-xs-2 box-items-services">
                                                <div class="input-group">
                                                    <md-switch ng-model="inputServices[service.idPack].closedToArrival" aria-label="Switch 2" class="md-warn">
                                                        <span ng-if="inputServices[service.idPack].closedToArrival == true">
                                                            {{ "share.message.yes"|trans }}</span>
                                                        <span ng-if="inputServices[service.idPack].closedToArrival == false">
                                                            {{ "share.message.no"|trans }}</span>
                                                    </md-switch>
                                                </div>
                                            </div>

                                            <div class="col-xs-2 box-items-services">
                                                <div class="input-group">
                                                    <md-switch ng-model="inputServices[service.idPack].closedToDeparture" aria-label="Switch 2" class="md-warn">
                                                    <span ng-if="inputServices[service.idPack].closedToDeparture == true">
                                                        {{ "share.message.yes"|trans }}</span>
                                                    <span ng-if="inputServices[service.idPack].closedToDeparture == false">
                                                        {{ "share.message.no"|trans }}</span>
                                                    </md-switch>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-form>
                            </div>
                        </div>
                        <!-- Fin de Fila de Servicios-->
                        <br>
                    </div>
                    <!-- Fin de Fila de habitaciones -->

                    <!-- Boton Enviar -->
                    <div class="col-xs-16 box-items-submit">
                        <hr class="hr-load">
                        <div class="row input-required">
                            <div ng-if="form.$invalid" class="row pull-right"><strong>Error. Verifique los datos ingresados</strong></div>
                        </div>
                        <div class="row">
                            <button type="submit" ng-click="sendJson()" class="btn btn-primary pull-right btn-load"
                            id="btn-submit-bulk" ng-disabled="form.$invalid || form.$pristine || isEmpty(inputRooms) && isEmpty(inputServices)" >{{ "share.action.submit"|trans }}</button>
                            <button class="btn btn-primary pull-right btn-load" style="margin-right:20px;"  id="btn-submit-bulk">{{ "share.action.submit-cancel"|trans }}</button>
                        </div>
                    </div>
                </div>
                <!-- Seleccion Habitaciones -->
            </div>
        </form>
        {{ include("NavicuInfrastructureBundle:Extranet:Partials/modalError.html.twig") }}
        {#-- Ventana modal para indicar que se está cargando una petición--#}
        {{ include("NavicuInfrastructureBundle:Web:Partials/modalLoading.html.twig") }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var extension ="{{ app.request.attributes.get('extension') }}";
        var data = "{{data}}";
        var slug = "{{slug}}"
        var div = document.createElement('div');
        div.innerHTML = data;
        data = div.firstChild.nodeValue;
        data = JSON.parse(data);
    </script>

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{% endblock %}
