{% block body %}
    <div>

        <img src="https://www.navicu.com/images/logo-correo-contrasena.png" style="width:200px;">
        <h3 style="font-size: 19px;margin-top: 0.5%;color:#4A2675 ;font-weight: bold;margin-bottom:0">

            {{ 'email.extranet.register_property.0'|trans }}
        </h3>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.1'|trans }}</span><br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.2'|trans }}</span><br><br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.3'|trans }}<br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.4'|trans }}<br>
        <br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.5'|trans }}</span><br>
        <b style="font-weight:bold;color:#4A2675;font-size: 16px">{{ 'email.extranet.register_property.7'|trans }}</b>
        <span style="font-size:17px;color:#4A2675">{{ publicId }}</span><br>

        <b style="font-weight:bold;color:#4A2675;font-size: 16px">{{ 'email.extranet.register_property.6'|trans }}</b>
        <span style="font-size:17px;color:#4A2675">{{ userName }}</span>
            
        <br><br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.8'|trans }} </span>
        <br><br>
        <a href="https://www.navicu.com/extranet" style="font-size:11px;color:#4A2675">https://www.navicu.com/extranet</a><br>
        <a href="https://www.navicu.com/extranet"><button style="width: 145px;background-color: #391462;height:37px;color:white;font-size:20px">Ingresar</button></a>
        <br>
        <br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.9'|trans }} </span>
        <br><br>
        <span style="font-size:13px;color:#666666">{{ 'email.extranet.register_property.10'|trans }} </span>
        <br><br>
        <span style="font-weight:bold;color:#4A2675;font-size: 16px">{{ 'email.extranet.register_property.11'|trans }} </span>
        <br>
        <br>
        <img src="https://www.navicu.com/images/navicu/corporate_line.png">

    </div>
{% endblock %}


