{% block body_html %}
    <span style="font-family:'Lato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif">
        <img src="https://www.navicu.com/images/logo-correo-contrasena.png" style="width:200px;">
        <br>
        {{ 'share.message.resetting_your_password'|trans }}
        <br>
        <b>{{"share.message.estimated"|trans}} {{ user }},</b>
        <br>

        {{"share.message.email_resetting.text"|transchoice(0)}}<br>
        {{"share.message.email_resetting.text"|transchoice(1)}}<br><br>

        <a href="{{ confirmationUrl }}" class="thumbnail">
            {{ confirmationUrl }}
        </a>
        <br>
        <br>
        {{"share.message.email_resetting.text"|transchoice(2)}}
    </span>
{% endblock %}