{% extends "NavicuInfrastructureBundle:Ascribere:layoutRegister.html.twig" %}

{% block body %}
<div ng-app="loginExtranetModule" ng-controller="loginExtranetController">
    <div class="body-extranet-login" style="background-image: url({{ assets.img['images/images_original/navicu/homepage/home-page-extranet.jpg'] }})" ng-style="lazyStyles.bg">
        <div class="container">
            <div class="col-xs-16">
                <div class="row" style="color:white;margin-top:15%">
                    <div class="col-xs-16 " >
                        <h1 style="font-size:-webkit-xxx-large">
                            <b>
                                <center>
                                    {% filter upper %}
                                        {{ "share.message.password_update_success"|trans}}
                                    {% endfilter %}
                                </center>
                            </b>
                        </h1>
                        <center><h4><b>{{ "share.message.go_sing_in"|trans}}</b></h4></center>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-xs-4 col-xs-offset-6">
                        <a href="{{ path('extranet_login')}}">
                            <button class="btn btn-md btn-primary btn-home btn-block" > {{ "share.action.sign_in"|trans}} </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "NavicuInfrastructureBundle:Ascribere/PropertyForm:formContentHomePage.html.twig" %}

</div>
{% endblock %}
