<!DOCTYPE html>
<html>
<head lang="en">
    <style type="text/css">
        p{text-align: justify;font-family: 'lato-regular';padding: 20px 0px;}
        h1{font-family: 'lato-bold';text-align: center;}
        h2,h3{font-family: 'lato-bold';padding-top:10px;}
    </style>
    <meta charset="UTF-8">
    <title>{{ data.name }}</title>
</head>
<body>
    <h2>{{ data.name }}</h2>
    <p>type: {{ data.type }}</p>
    <p>coordinates: {{ '('+data.longitude+','+data.latitude+')' }}</p>
    <p>stars: {{ '('+data.longitude+','+data.latitude+')' }}</p>
</body>
</html>