<div class='nvc-footer__aavv--copyright'>
    <img role='presentation' src='/images/copyright.png' />
    <h5>
        2014 - {{ "now"|date("Y") }}
        <i class='fa fa-circle' ></i>
        Todos los derechos reservados
    </h5>
    <p>
        <a href="{{ path('navicu_faq') }}">
            {{ "aavv.footer.faq"|trans }}
        </a>
        <i class='fa fa-circle' ></i>
        <a href="{{ path('navicu_terms') }}">
            {{ "aavv.footer.terms"|trans }}
        </a>
    </p>
</div>
